body
{
    font-family:    Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:      14px;
    background: #FFFFFF; /* original: #DEE4D6 */
    width: 100%;
}

p
{
    font-family:    Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:      14px;
}

.contentPaneOuter {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.contentPane {
    /* background: #F0F2ED;/* #EBEDE8;  original: #DEE4D6 */
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    padding-right: 50px;
    padding-left: 50px;
}

.PageTitleOuter {
    margin-left:auto;
    margin-right:auto;
	width: 100%;
	border-width: 0;
	padding: 0;
}

.PageTitle {
    /*width: 100%;*/
    background: #000000;
	margin-bottom: 20px;
    padding: 20;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    color: #DEE4D6;
}

.BookTitle {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    border: 0px solid;
    padding: 0;
    overflow: auto;
}

.BookTitleEnglish {
  width: 50%;
  border: 0px solid;
  float: left;
  text-align: center;
  font-size: 24px;
}

.BookTitleArabic {
  width: 50%;
  border: 0px solid;
  float: right;
  text-align: center;
  font-family:    times new roman(arabic), Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.AllHadith {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
}

.HadithPair {
    margin-top: 30px;
    background: #F0F2ED;
	overflow: auto;
	border-width: 0px;
	border-top-style: solid;
	margin-bottom: 5px;
	border-color: black;
    padding-bottom: 20px;
}

.HadithPair:hover {
	padding-bottom: 5px;
}

.HadithPair .bottomOptions {
  display:none;
  clear:both;
  border-width: 0px;
}

.bottomOptions a{
     color: #3F5E54;
}

.HadithPair:hover .bottomOptions {
  display:block;
}

.HadithPair:hover .leftOptions {
    display: inline;
    width: 47.5%;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    font-family: Verdana, sans-serif;
    border-width: 0px;
    border-style: solid;
    float: left;
	padding:0px;
}

.HadithPair:hover .rightOptions {
    display: inline;
    width: 47.5%;
    font-size: 10px;
    line-height: 15px;
    text-align: left;
    font-family: Verdana, sans-serif;
    border-width: 0px;
    border-style: solid;
    float: right;
	padding:0px;
}

.EnglishHadith {
    /* background: */
    float: left;
	/*display: inline-block;*/
    width: 50%;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
	border-width: 0px;
	border-style: solid;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right:0px;
	padding-left: 0px;
}

.EnglishHadith:hover {
	border-width: 0px;
}

.EnglishHadith:hover .HadithOptions {
	display: inline;
	font-size: 10px;
	line-height: 11px;
	text-align: right;
	font-family: Verdana, sans-serif;
	border-width: 0px;
	border-style: solid;
	float: right;
}

.EnglishHadith .metadata {
    text-align: left;
	background: #DCDED9; 
	color: black;
	width:100%;
	padding:3px;
	padding-bottom: 5px;
    padding-left: 10px;
	line-height: 26px;
    min-height: 58px;
    vertical-align: center;
    border: 0px;
    border-style: solid;
}

.EnglishHadith .metadata .Chapter {

}

.EnglishHadith .text p{
    text-align:     justify;
    padding-top: 15px; 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}


.HadithOptions {
	display: none;
}

.HadithOptions a{
	color: #3F5E54;
}

.ArabicHadith {
    /* background */
    float: right;
	/* display: inline-block; */
    width: 47.5%;
    font-size:      14px;
    font-family:    times new roman(arabic), Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    direction: rtl;
    text-align: justify;
	border-width: 0px;
	border-style: solid;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left:0px;
    padding-right: 0px;
}

.ArabicHadith:hover {
	border-width: 0px;
}

.ArabicHadith:hover .HadithOptions {
	float: left;
	display: inline;
	font-size: 10px;
	line-height: 11px;
	text-align: left;
	font-family: Verdana, sans-serif;
    border-width: 0px;
    border-style: solid;
}


.ArabicHadith .metadata {
    text-align: right;
    background:  #DCDED9;
    color: black;
    width:100%;
    padding:3px;
    padding-bottom: 5px;
    padding-right: 10px;
    direction: rtl;
    line-height: 26px;
    min-height: 58px;
    vertical-align: center;
    border: 0px;
    border-style: solid;
}

.ArabicHadith .metadata .Chapter {
	font-size: 22px;
}

.ArabicHadith .metadata .Chapter a{
    color: white;
}

.ArabicHadith .metadata .Book {
	font-size: 22px;
}

.ArabicHadith .text {
    font-size:      24px;
    text-align:     justify;
    padding-top: 15px;
}

.englishHadith_old
{
    font-family:    Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:      14px;
  text-align:   justify;
}

.indonesianHadith_old
{
    font-family:    Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:      14px;
  text-align:   justify;
}

.arabicHadith_old {
  	font-size:    24px;
    font-family:    times new roman(arabic), Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    text-align:     justify;
	direction:	rtl;
}

.urduHadith_old {
  	font-size:    24px;
    font-family:   Fajer Noori Nastalique, Jameel Noori Nastaleeq;
    text-align:     justify;
	direction:	rtl;
}

.UnmatchedURNs {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.UnmatchedURNs ul{
	list-style:none;
}

li
{
    font-family:    Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size:      14px;
}

.footer
{
    bgcolor:	    #000033;
    color:          #cccccc;
    font-size:      10px;
    font-weight:    bold;
    text-align:	    center;
}

.tastyle {
	width: 330px;
	height: 400px;
	border: 3px solid #cccccc;
	padding: 2px;
	font-family: Courier;
	font-size: 14px;
	text-align:	top;
	white-space: pre-wrap;
}

.tastylearabic {
	width: 330px;
	height: 400px;
	border: 3px solid #cccccc;
	padding: 2px;
	font-family: Courier;
	font-size: 20px;
	text-align:	right;
	white-space: pre-wrap;
}


h4
{
    color:          #3366ff;
    font-size:      24px;
    font-weight:    bold;
}

h5
{
    color:          #1122ff;
	font-size: 20px;
}

a
{
    text-decoration:    none;
    color:              #0000ee;
}

td.tableHover a 
{
        background-color:       #DEE4D6;
        color:                  #00544C;
	font-size:		16px;
	font-weight:		bold;
}

td.tableHover
{
        background-color:       #DEE4D6;
        color:                  #00544C;
}


td.menuLink a
{
    color:          #ffffff;
    font-size:      16px;
    font-weight:    bold;
}


.nameHeader
{
    color:              #DEE4D6;
    font-size:          20px;
    font-weight:        bold;
}

td.header
{
	color:			#ffffff;
	background-color:	#000000;
	font-weight:		bold;
	text-align:		center;
	font-size:		12px;
}

td.tt
{
	font-size:		12px;
	text-align:		center;
}

td.hover
{
	background-color:       #DEE4D6;
	color:			#00544C;
}

.achap {
	font-size: 22px;
	direction: rtl;
}
